body {
  background-image: url("hallownest map.jpg");
  background-size: 100%;
}

ul li {
  display: inline-block;
  margin-right: 15px;
  width: 300px;
  border-color: black;
  border-style: solid;
}

ul li:hover {
  display: inline-block;
  margin-right: 15px;
  width: 300px;
  border-color: white;
  border-style: double;
}

a {
  color: white;
  font-size: 35px;
}

a:hover#menu {
  color: #bababa;
}

ul li a#menu{
  color: white;
  position: relative;
  text-decoration: none;
  text-align: center;
  font-size: 200%;
}

p {
  text-align: left;
  color: white;
  font-size: 35px;
}
